<!doctype html>
{% load static %}
<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script src="/static/scripts/jquery/jquery-1.4.4.min.js"></script>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- font files  -->
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/style.css">
    <!-- /font files  -->
    <!-- css files -->
    <link href="/static/css/style.css" rel='stylesheet' type='text/css' media="all"/>
    <script type="text/javascript" src="/static/style.js"></script>
    <!-- /css files -->
    <script>
        window.camero = false;

        function check_name(self) {
            $.ajax({
                url: '{% url "groupapp:checkname"%}',
                type: 'GET',
                data: 'name=' + self.value,
                success: function (res) {
                    if (res === '1') {
                        window.camero = true;
                    } else if (res === '2') {
                        location.href = "{% url 'groupapp:collectface' %}"
                    } else {
                        location.href = "{% url 'groupapp:register' %}"
                    }
                }
            })
        }
    </script>
</head>
<body>
<h1>Login</h1>
<div class="log">
    <div class="content1">
        <h2>Login</h2>
        <input id='name' type="text" name="name" onblur="check_name(this)" placeholder='NAME'>
         <div id="vidi">
            <button class="register" onclick="openMedia()" id="openvideo">开启摄像头</button>
            <button class="register" onclick="make_face()" id="takephoto" style="display: none">开始采集你的大脸</button>
            <div id="wait"></div>
            {#                        <img id="imgTag" src="" alt="imgTag">#}
            <button class="register" id="closevideo" onclick="closeMedia()" style="display: none">关闭摄像头</button>
            <br>
            <br>
            <video id="video" width="500px" height="500px" autoplay="autoplay" style="display: none" ></video>
            <canvas id="canvas" width="500px" height="500px" style="display: none"></canvas>

        </div>
    </div>

    <div class="clear"></div>
</div>
<div class="footer">
    <p>Copyright &copy; <a href="http://www.baizhiedu.com/" target="_blank" title="百知教育">百知教育</a></p>
</div>


<script>
    let mediaStreamTrack = null; // 视频对象(全局)
    window.num = 0;
    var dont = 0;
    var takephoto;

    function openMedia() {
        if (window.camero) {
            $('#video').css('display', 'inline').attr("autoplay", "autoplay");
            $('#openvideo').css('display', 'none');
            $('#takephoto').css('display', 'inline');
            $('#closevideo').css('display', 'inline');
            let constraints = {
                video: {width: 500, height: 500},
                audio: true
            };
            //获得video摄像头
            let video = document.getElementById('video');
            let promise = navigator.mediaDevices.getUserMedia(constraints);
            promise.then((mediaStream) => {
                mediaStreamTrack = typeof mediaStream.stop === 'function' ? mediaStream : mediaStream.getTracks()[1];
                video.srcObject = mediaStream;
                video.play();
            });
        } else {
            alert('Please type in your name ！')
        }
    }

    function make_face() {
        $('#takephoto').css('display', 'none');
        $('#closevideo').css('display', 'none');
        $('#wait').empty().append('<img src="{% static 'images/wati.gif' %}">正在检测');
        takephoto = setInterval(takePhoto, 2000);
    }

    // 拍照
    function takePhoto() {
        //获得Canvas对象
        var name = $('#name').val();
        let video = document.getElementById('video');
        let canvas = document.getElementById('canvas');
        let ctx = canvas.getContext('2d');
        ctx.drawImage(video, 0, 0, 500, 500);
        // toDataURL  ---  可传入'image/png'---默认, 'image/jpeg'
        let img = document.getElementById('canvas').toDataURL().substring(22);
        $('#canvas').css('display', 'none');
        $.ajax({
            type: "POST",
            url: "{% url 'groupapp:face' %}",
            data: {pp: img, name: name, um: dont, csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function (msg) {
                console.log(num);
                if (msg === '1') {
                    closeMedia();
                    alert('很好，我的数据库里有你的大饼脸');
                    return location.href = "{% url 'showapp:main' %}"
                }
                dont += 1;
                if (dont === 5) {
                    closeMedia();
                    alert('你不是我们的大饼脸');
                    location.href = "{% url 'groupapp:collectface' %}"
                }
            }
        });
    }

    // 关闭摄像头
    function closeMedia() {
        clearInterval(takephoto);
        mediaStreamTrack.stop();
        $('#takephoto').css('display', 'none');
        $('#wait').empty();
        $('#video').css('display', 'none');
        $('#openvideo').css('display', 'inline');
        $('#closevideo').css('display', 'none');
    }
</script>


</body>
</html>