<!doctype html>
<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script src="/static/scripts/jquery/jquery-1.4.4.min.js"></script>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- font files  -->
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
    <!-- /font files  -->
    <!-- css files -->
    <link href="/static/css/style.css" rel='stylesheet' type='text/css' media="all"/>
    <!-- /css files -->
    <script>
        {#     java script functions     #}
        var email_flag = false;
        var name_flag = false;
        var password_flag = false;
        var phone_flag = false;

        function check_name(self) {
            var re = /^[^0-9][a-zA-Z0-9_]+$/;
            if (!re.test(self.value)) {
                name_flag = false
            } else {
                name_flag = true;
            }
        }

        function check_phone(self) {
            var re = /^1(3|4|5|7|8)\d{9}$/;
            if (!re.test(self.value)) {
                phone_flag = false
            } else {
                phone_flag = true
            }
        }

        function check_email(self) {
            var re = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)$/;
            if (!re.test(self.value)) {
                email_flag = false
            } else {
                email_flag = true
            }
        }

        function check_pwd(self) {
            {#必须包含 大小写字母，@ 其中的两个#}
            var re1 = /@/;
            var re2 = /[a-z]/;
            var re3 = /[A-Z]/;
            var count = re1.test(self.value) + re2.test(self.value) + re3.test(self.value);
            if (count < 2) {
                password_flag = false
            } else {
                password_flag = true
            }
        }

        {#弹出错误提示框的函数#}
        function check_info(error = 5) {
            var flag = [name_flag, phone_flag, email_flag, password_flag];
            var flag_info = ['Name form error!', 'Phone form error!', 'Email form error!', 'PassWord form error!'];
            if (error === 5) {
                for (var i = 0; i < flag.length; i++) {
                    if (!flag[i]) {
                        alert(flag_info[i])
                    }
                }
            } else {
                if (!flag[error]) {
                    alert(flag_info[error])
                }
            }
        }
dfdf
        {#控制样式改变的函数#}
        function check_submit() {
            console.log([name_flag, phone_flag, email_flag, password_flag]);
            if (name_flag) {
                $('#name').css('border-color', '#98d237');
            } else {
                $('#name').css('border-color', '#990000');
            }
            if (phone_flag) {
                $('#phone').css('border-color', '#98d237');
            } else {
                $('#phone').css('border-color', '#990000');
            }
            if (email_flag) {
                $('#email').css('border-color', '#98d237');
            } else {
                $('#email').css('border-color', '#990000');
            }
            if (password_flag) {
                $('#password').css('border-color', '#98d237');
            } else {
                $('#password').css('border-color', '#990000');
            }
            if (name_flag && phone_flag && email_flag && password_flag) {
                $(".register").css('background-color', '#4C9A39');
            } else {
                $(".register").css('background-color', '#4c5a5f');
            }
        }

        function mysubmit(self) {
            check_info();
            if (name_flag && phone_flag && email_flag && password_flag) {
                $(self).parent().submit();
            } else {
                alert('You can\'t submit now !')
            }
        }
    </script>
</head>
<body>
<h1>Register</h1>
<div class="log">
    <div class="content2">
        <h2>Register</h2>
        <form action="{% url 'groupapp:registerlogic' %}" method="post">
            {% csrf_token %}
            {#            <input type="text" name="name" value="USERNAME" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'NAME AND SURNAME';}">#}
            <input type="text" id="name" name="name" onchange="check_name(this);check_info(0)" onkeyup="check_name(this);check_submit()"
                   placeholder="NAME AND SURNAME" maxlength="128">
            <input type="tel" id="phone" name="phone" onchange="check_phone(this);check_info(1)" onkeyup='check_phone(this);check_submit()' placeholder='PHONE'
                   maxlength="11">
            <input type="email" id="email" name="email" onchange="check_email(this);check_info(2)" onkeyup='check_email(this);check_submit()'
                   placeholder='EMAIL ADDRESS' maxlength="128">
            <input type="password" id="password" name="password" onchange="check_pwd(this);check_info(3)" onkeyup='check_submit();check_pwd(this)'
                   placeholder='PASSWORD' maxlength="20">
            <input type="button" class="register" value="Register" style="background-color: #4c5a5f"
                   onclick="mysubmit(this)">
        </form>
        <div id="vidi">

            {#            <button class="register" onclick="openMedia()" id="openvideo">开启摄像头</button>#}
            {#            <button class="register" onclick="make_face()" id="takephoto" style="display: none">拍照</button>#}
            {#            <img id="imgTag" src="" alt="imgTag">#}
            {#            <button class="register" onclick="closeMedia()">关闭摄像头</button>#}
            {#            <video id="video" width="500px" height="500px" autoplay="autoplay"></video>#}
            {#            <canvas id="canvas" width="500px" height="500px" style="display: none"></canvas>#}

        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="footer">
    <p>Copyright &copy; <a href="http://www.baizhiedu.com/" target="_blank" title="百知教育">百知教育</a></p>
</div>

<script>
    let mediaStreamTrack = null; // 视频对象(全局)
    window.num = 0;
    var dont = 0;
    var takephoto;

    function openMedia() {

        $('#openvideo').css('display', 'none');
        $('#takephoto').css('display', 'block');
        let constraints = {
            video: {width: 500, height: 500},
            audio: true
        };
        //获得video摄像头
        let video = document.getElementById('video');
        let promise = navigator.mediaDevices.getUserMedia(constraints);
        promise.then((mediaStream) => {
            mediaStreamTrack = typeof mediaStream.stop === 'function' ? mediaStream : mediaStream.getTracks()[1];
            video.srcObject = mediaStream;
            video.play();
        });
    }

    function make_face() {
        takephoto = setInterval(takePhoto, 2000);
    }

    // 拍照
    function takePhoto() {
        //获得Canvas对象
        let video = document.getElementById('video');
        let canvas = document.getElementById('canvas');
        let ctx = canvas.getContext('2d');
        ctx.drawImage(video, 0, 0, 500, 500);
        // toDataURL  ---  可传入'image/png'---默认, 'image/jpeg'
        let img = document.getElementById('canvas').toDataURL().substring(22);
        $('#canvas').css('display', 'none');
        $.ajax({
            type: "POST",
            url: "{% url 'groupapp:face' %}",
            data: {pp: img, name: "hehe", mana: 'add', um: num, csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function (msg) {
                console.log(num);
                if (msg === '1') {
                    window.num += 1;
                    if (window.num > 3) {
                        closeMedia();
                        alert('大饼脸图像采集完成！');
                    }
                }
                dont += 1;
                if (dont === 10) {
                    closeMedia();
                    alert('你这不是大饼脸！');
                }
            }
        });
    }

    // 关闭摄像头
    function closeMedia() {
        clearInterval(takephoto);
        mediaStreamTrack.stop();
        $('#video').css('display', 'none');
        $('#openvideo').css('display', 'block');
        $('#takephoto').css('display', 'none');
    }
</script>

</body>
</html>